<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> telemetry data for run id: {{ request_id }}</h1>
<h2> links will expire: {{ expiration }} refresh the page to renew them</h2>
<h2> once the archive files will be all downloaded to untar them run the command <code>printf 'n prometheus-%02d.tar\n' {1..100} | tar xfM prometheus-00.tar</code></h2>
<table>
  <tr>
    <th>File Name</th>
    <th>Size</th>
    <th>Last Modified</th>
  </tr>
  {% for key in files %}
  <tr>
    <td><a href="{{ key[0] }}">{{ key[1] }}</a></td>
    <td>{{ key[2] }}</td>
    <td>{{ key[3] }}</td>
  <tr>
  {% endfor %}
</table>

</body>
</html>