<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Folder</title>
</head>
{% include 'search_component.html' %}
{% include 'auto_reload_component.html' %}
<body>
<h1>Welcome to Krkn telemetry download page!</h1>
<label for="search">Search Folder:</label>
<br/>
<input type="text" id="search" onkeyup="filter('search','folders')" placeholder="folder name...">
<br/>
<br/>
<table id="folders">
  <tr>
    <th>Folder Name (timestamp + krkn run id)</th>
  </tr>
  {% for key in folders %}
  <tr>
    <td><a href="{{ key[0] }}">{{ key[1] }}</a></td>
  <tr>
  {% endfor %}
</table>

</body>
</html>