<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telemetry Folders</title>
    {% include 'components/bootstrap.html' %}
    {% include 'components/bootstrap_table.html' %}
</head>

<body>
    {% include 'components/nav_bar.html' %}
    <div class="container">

        <div class="col w-75 col-md-8 mx-auto">
            <div class="row mt-5">
                <h1>Welcome to Krkn telemetry download page!</h1>
            </div>
            <div class="row w-50 mt-5">
              <div class="input-group">
                <a href="../" class="btn btn-primary btn-lg active {{ ""  if request_path.split("/")|length > 3 else "disabled"}}" role="button" ><i class="fa-solid fa-left-long"></i> Back</a>
              </div>
            </div>
            {% include 'components/clipboard.html' %}
            <script>
                  tar_shown = false
                  function path_formatter(value, row, index){

                    if (row.type == "folder") {
                        return '<a href="{{ link_url }}'+value+'">'+value+'</a>';
                    }
                    if (!tar_shown){
                        tar_shown = true
                        $("#tar_code").toggle(500);
                    }
                    link = null;
                    groupId = "{{group_id}}"
                    runId = "{{run_id}}"
                    path=""
                    if (groupId != "None")
                        path=groupId+"/"
                    if (runId != "None")
                        path = path+runId+"/"

                    filePath = path+value
                    $.ajax({
                        url:"{{download_url_api}}/"+filePath,
                        method: "GET",
                        async: false,
                        success:function(response) {
                              link = '<a href="'+response.download_link+'">'+value+'</a>';
                        },
                        error:function(jquery, error) {
                            console.log(error)
                        }
                    });

                    return link;
                  }

                  function modified_formatter(value, row, index){
                        if (row.type == "file") {
                              return value;
                        }
                        return "-";
                  }

                  function size_formatter(value, row, index) {
                        if (row.type == "file") {
                              return value;
                        }
                        return "-";
                  }
            </script>

            <div id="tar_code" class="row mt-5 border border-secondary bg-light" style="display:none">
              <h5> once the archive files will be all downloaded to untar them run the command:</h5>
              <div class="col">
                <h5><code id="shell_code">cat prometheus-* > prometheus-backup.tar && tar xfv prometheus-backup.tar</code></h5>
              </div>
              <div class="col col-xl-1">
                <button onclick="copyText('shell_code')"><i class="fa-solid fa-copy"></i></button>
              </div>
            </div>
            <div class="row mt-5">
                    <table
                        id="table"
                        data-toggle="table"
                        data-url="{{ navigation_api }}"
                        data-pagination="true"
                        data-side-pagination="client"
                        data-search="true"
                        data-page-list="[10, 25, 50]"
                        >
                        <thead>
                          <tr>
                            <th
                            data-field="path"
                            data-sortable="true"
                            data-formatter="path_formatter"
                            >Path</th>
                          <th
                            data-field="size"
                            data-sortable="true"
                            data-formatter="size_formatter"
                            >Size</th>
                              <th
                            data-field="modified"
                            data-sortable="true"
                            data-formatter="modified_formatter"
                            >Modified</th>
                          </tr>
                        </thead>
                      </table>
            </div>
    </div>
</div>
</body>
</html>