<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telemetry Folders</title>
    {% include 'components/bootstrap.html' %}
    {% include 'components/search.html' %}
    {% include 'components/auto_reload.html' %}
</head>

<body>
    {% include 'components/nav_bar.html' %}
    <div class="container">

        <div class="col w-75 col-md-8 mx-auto">
            <div class="row mt-5">
                <h1>Welcome to Krkn telemetry download page!</h1>
                <h1>{{ base_url }}</h1>
            </div>
            <div class="row w-50 mt-5">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="search" id="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" onkeyup="filter('search','folders')"/>
              </div>
            </div>
            <div class="row mt-5">
                <table id="folders" class="table table-bordered">
                  <tr>
                    <th>Folder Name (timestamp + krkn run_id + krkn run_tag)</th>
                  </tr>
                  {% for key in folders %}
                  <tr>
                    <td><a href="{{ key[0] }}">{{ key[1] }}</a></td>
                  <tr>
                  {% endfor %}
                </table>
            </div>
    </div>
</div>
</body>
</html>